.cards{
    border-radius: 6px;
    color: #1e1e1e;
    margin: 16px;
    position: relative;
}

.cards img{
    position: absolute;
    z-index: -5;
}

.cards button{
    border: solid #52D629 2px;
    border-radius: 6px;
    background: transparent;
    color: #fff;
    padding: 8px 14px; 
    width: 100px;
    font-size: 1rem;
    /* margin-left: 265px; */
}

.card_content{
    position: absolute;
    color: #fff;
    width: 90%;
    left: 16px;
    top: 115px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.card_content h1{color: #52D629; margin-top: 0;}

.card_content h2{margin: 0;}